@model  MVC_Basics.Models.Employee
@{
    ViewBag.Title = "GetEmployeeDetailsBy";
}

<h2>GetEmployeeDetailsBy</h2>
<table>
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
    </tr>
    <tr>
        <td>@Model.EmpId</td>
        <td>@Model.EmpName</td>
    </tr>
</table>
